'.text.html.php':
	'Piklist Text Field':
		'prefix': 'pik-field-text'
		'body': """
		piklist('field', array(
			'type'    => 'text',
			'field'   => '$1',
			'label'   => '$2',
			'add_more'  => false
		));
		"""
