'.text.html.php':
	'Widget Title':
	'prefix': 'pik-field-text'
	'body': """
		piklist('field', array(
			'type'    => 'text',
			'field'   => '$1',
			'label'   => '$2',
			'add_more'  => true
		));
	"""